<div class="col-md-3">
    <div class="thumbnail">
        <%= image_tag "Programación en java 6.jpg", class: "img-responsive" %>
    </div>

    <div class="caption">
      <p><strong><%= book.name %></strong></p>
      <p><%= book.price.to_f / 100 %></p>
    </div>
  </div>
