<div class="row text-center">
	<br>
	<h1>Felicidades! </h1>
	<br>
	<h3>Gracias por tu compra <i>" <%= @sale.book.slug %> "</i> <br>
	Here is the <%= link_to "download", @book.resource.url  %> link. </h3>
</div>
